.whole {
  min-height: calc(100vh - 50px);
}

.navbar-inverse {
  border-radius: 0;
  margin-bottom: 0;
}

.jumbotron .container {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-row {
  margin-top: 30px;
}


footer {
  height: 50px;
}

footer p {
  margin-left: 20px;
}
